@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
    --cor0: #F7C3E1;
    --cor1: #F577C1;
    --cor2: #c25f99b4;
    --cor3: #75395C;
    --cor4: #755D6B;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(90deg, var(--cor1), var(--cor0));
}

header {
    background-color: var(--cor2);
    min-height: 20px;
    max-height: 200px;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: block;
    border-radius: 10px 10px 0px 0px;
}

header > h1 {
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.260);
}

nav {
    background-color: var(--cor2);
    padding: 20px;
    text-align: center;
    font-size: larger;
    max-width: 1000px;
    margin: auto;
    display: block;
    border-radius: 0px 0px 10px 10px;
}

nav > a {
    color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor2);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--cor0);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    text-align: left;
}

main h1 {
    color: var(--cor3);
    font-weight: bolder;
    font-size: 1.7em;
    text-decoration: none;
    line-height: 2em;
    border-radius: 10px;
    text-align: left;
}

main h2 {
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 1.8em;
    border-radius: 8px;
    text-align: left;
}

main h3 {
    color: var(--cor3);
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    line-height: 1.6em;
    border-radius: 5px;
    text-align: left;
}

main a {
    color: var(--cor3);
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
}

.link {
    color: var(--cor3);
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
    line-height: 1em;
}

main img {
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
}

main.menu {
    text-align: center;
}

section img {
    display: block;
}

section h1 {
    color: var(--cor3);
    font-weight: bolder;
    font-size: 1.8em;
    text-decoration: none;
    line-height: 2em;
    border-radius: 10px;
}

section h2 {
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 2em;
    border-radius: 10px;
}

ul.indent {
    text-indent: 20px;
    list-style-position: inside;
    line-height: 1.5em;
}

table {
    border-collapse: collapse; 
  }
  
  table tr td {
    padding: 10px;
  }
  
  table tr td:first-child {
    text-align: right;
  }
  
  table tr td:last-child {
    text-align: left
  }
  
  table tr td i {
    font-size: 24px;
    margin-right: 10px;
  }

.formacao td:first-child {
  width: 10%; 
}

.formacao td:last-child {
  width: 80%; 
}

footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

/* NOVAS CONFIGURAÇÕES */

.botao {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 5px solid var(--cor2);
    color: var(--cor2);
    font-size: 1.5em;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background, color 0.1s ease-in-out;
}

.botao:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

.submit {
    display: block;
    margin: 0 auto; 
    width: 150px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid var(--cor3);
    color: var(--cor3);
    font-size: 14px;
    background: transparent;
    font-weight: 700;
    line-height: 30px;
    transition: background, color 0.1s ease-in-out;
  }
.submit:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

/* Div */
.container {
    display: flex;
    flex-direction: row;
}
.coluna1 {
    width: 30%;
    padding: 20px;
    text-align: right;
    margin-top: 50px;
} 
.coluna1 table {
    display: inline-block; 
    margin-left: auto; 
}    
.coluna2 {
    width: 70%;
    padding: 20px;
}


/* Formulário */
label {
    margin-bottom: 2pt;
    display: block;
    text-align: left;
    color: var(--cor3);
    font-size: 1em;
    padding-left: 0pt;
  }
  
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"] {
    appearance: none;
    border: 1px solid #eee;
    width: 90%;
    transition: 0.7s;
    color: #111;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 10pt 20pt;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 1.4em;
    display: block;
  }
  
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus {
    border-color: var(--cor3);
    outline: 0;
    background-color: #ffffff;
  }
  
  textarea {
    appearance: none;
    border: 1px solid #eee;
    width: 90%;
    transition: 0.7s;
    color: var(--cor3);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 12pt 24pt;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 1.4em;
    display: block;
    resize: none;
    min-height: 6em;
    outline: 0;
  }
  
  textarea:focus {
    border-color: var(--cor3);
    outline: 0;
    background-color: #ffffff;
  }
